@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/rocket';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

.handle {
    cursor: move;
    cursor: -webkit-grabbing;
    display: inline-flex;
    justify-content: center;
    height: 3rem;
    max-height: 3rem;
    flex-shrink: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}

.ghost {
    opacity: 0.9;
}

.drag {
    display: none;
}
